# OS
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs & temporaire
*.log
*.tmp
*.bak

# Dépendances (aucune attendue, mais au cas où)
node_modules/
dist/
build/

# Variables d'env (si ajout futur)
.env
.env.local
